body {
  font-family: "Roboto", "Segoe UI", "Tahoma", "Verdana", sans-serif;
  color: #212121;
}
:root {
  --brand-color: rgb(0, 255, 0);
}
.link-button:hover,
.link-button:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 255);
}
.contact:hover,
.contact:focus {
  color: rgb(255, 0, 0);
}
.primary-font-size {
  font-size: 18px;
  line-height: 2;
}
.second-font-size {
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}
.font-bold {
  font-weight: 700;
}
.cursor-pointer {
  cursor: pointer;
}
